.btn {
	border: none;
	border-radius: 1.5rem;
	padding: 0.4rem 1rem;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	box-shadow: 2px 2px 2px rgb(182, 204, 245);
	transition: 0.6s;
}

.btn:hover {
	transition: 0.6s;
	background-color: rgb(122, 175, 218);
}
