.login-form {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: rgba(236, 233, 233, 0.5);
}

.login-form--wrap {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 1.2rem;
	width: 30vw;
	border-radius: 10px;
	box-shadow: 3px 3px 3px 2px grey;
}
